@charset "utf-8";

$primary-color: #4285f4;
$primary-color-dark: #3574db;
$primary-color-light: #eaf4ff;
$primary-background-color: #eaf4ff;
$title-color: #333;
$text-color: #666;
$description-color: #999;
$placeholder-color: #c3c5c6;
$disabled-color: #f0f2f5;
$error-color: #fc5541;
$btn-default-color: #f4f6f9;
$count-color: #ff6b08;

$body-width: 95%;
$body-min-width: 1000px;
$body-bg-color: #f4f6f9;

$border: 1px solid #e3e4e8;