.sym-btn {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    border-radius: 3px;
}

.sym-btn:focus {
    outline: none;
}

.sym-btn-plain {
    height: auto;
    padding: 0;
    border: none;
    line-height: inherit;
}
.sym-btn-primary {
    color: white;
    background-color: $primary-color;
}
.sym-btn-primary:hover {
    background-color: $primary-color-dark;
}

.sym-btn-default {
    color: $primary-color;
    background-color: white;
}

.sym-btn-default:hover {
    background-color: $btn-default-color;
}

.sym-btn-cancel {
    color: $text-color;
    border-color: $placeholder-color;
    background-color: white;
}

.sym-btn-cancel:hover {
    background-color: $btn-default-color;
}